.container {
    width: 90%;
    margin: auto;
    background-color: #f5fff5;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
  }
  
  .chat-box {
    display: flex;
    height: 600px;
  }
  
  .member-list {
    width: 30%;
    border-right: 1px solid #e1e1e1;
    overflow-y: scroll;
    padding: 20px 10px;
  }
  
  .member-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .member-list li {
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 10px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .member-list li.active, .member-list li:hover {
    background-color: #4CAF50;
    color: #FFFFFF;
  }
  
  .chat-content {
    width: 70%;
    padding: 20px;
    position: relative;
  }
  
  .chat-messages {
    list-style-type: none;
    padding: 0;
    height: 80%;
    overflow-y: scroll;
  }
  
  .message {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  .message .avatar {
    margin-right: 10px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffd700; /* Gold for receiver */
  }
  
  .message.self .avatar {
    margin-left: 10px;
    margin-right: 0;
    background-color: #bde4a8 ; /* Green for sender */
  }
  
  .message.self {
    justify-content: flex-end;
  }
  
  .send-message {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    padding: 10px;
    background-color: #f0f0f0;
    border-top: 1px solid #e1e1e1;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .send-message .input-message {
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    outline: none;
  }
  
  .send-message .send-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    transition: all 0.3s ease;
  }
  
  .send-message .send-button:hover {
    background-color: #45a049;
  }
  
  .register {
    width: 300px;
    margin: auto;
  }
  
  .register input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
  }
  
  .register button {
    padding: 10px;
    width: 100%;
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    transition: all 0.3s ease;
  }
  
  .register button:hover {
    background-color: #45a049;
  }
  